@{
    ViewData["Title"] = App.Resources.Views.Home.Index.Title;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Course materials: <a href="https://courses.taltech.akaver.com/web-applications-with-csharp/lectures/http">Web applications with C#</a>.</p>
</div>